@model ThreeDPrintingProjects.Web.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

    @Html.Partial(Model.PartialView)
</div>
@*<a href="http://www.thingiverse.com/login/oauth/authorize?client_id=@Model.ClientId" class="btn btn-primary btn-large">Get Started</a>*@